[submodule "lib/Payum/Stripe"]
	path = lib/Payum/Stripe
	url = https://github.com/iatanasov77/Stripe.git
[submodule "lib/IA/PaymentBundle"]
	path = lib/IA/PaymentBundle
	url = https://github.com/iatanasov77/vs-payment-bundle.git
[submodule "lib/IA/CmsBundle"]
	path = lib/IA/CmsBundle
	url = https://github.com/iatanasov77/vs-cms-bundle.git
[submodule "lib/IA/ApplicationCoreBundle"]
	path = lib/IA/ApplicationCoreBundle
	url = https://github.com/iatanasov77/vs-core-bundle.git
[submodule "lib/IA/UsersSubscriptionsBundle"]
	path = lib/IA/UsersSubscriptionsBundle
	url = https://github.com/iatanasov77/vs-users-subscriptions-bundle.git
[submodule "lib/VS/UsersBundle"]
	path = lib/VS/UsersBundle
	url = https://github.com/iatanasov77/vs-users-bundle
