# Eclipse project files
/.buildpath
/.project
/.settings

/.env
/var/
/vendor/

/yarn.lock
/composer.lock
/symfony.lock
/npm-debug.log
/yarn-error.log
/node_modules/
/public/assets/
/public/build/
/public/bundles/
/public/media/
/public/uploads/profile_pictures/*
!/public/uploads/profile_pictures/.gitkeep 

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
