{% extends "layout.html.twig" %}

{% block content %}
    <div class="container-fluid  dashboard-content">
    	<!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">General Settings</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                    	<nav aria-label="breadcrumb">
                            {{ knp_menu_render('breadcrumbs', {'template': 'menu/breadcrumb.html.twig'}) }}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
       
        <div class="row">
            <!-- ============================================================== -->
            <!-- basic tabs  -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                	<h5 class="card-header">Global Settings</h5>
                	<div class="card-body">
                	   {% include '@VSApplication/Settings/forms/settings.html.twig' with {'siteId': 0} %}
                    </div>
                    <div class="card-footer" id="imContainer">
                        <button type="button" class="btn btn-primary" id="btnSaveGeneralSettings">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
