{% extends 'layouts/concept-master/layout.html.twig' %}

{% block content %}
    <article class="docs-article" id="section-9">
        <header class="docs-header">
            <h1 class="docs-heading">{{ page.title }}</h1>
            <section class="docs-intro">
                <p><!-- Description here --></p>
            </section><!--//docs-intro-->
        </header>
        
        {{ page.text|raw }}
    </article><!--//docs-article-->
{% endblock %}
