@font-face {
    font-family: 'Glyphicons Halflings';

    src: url(/build/admin/fonts/bootstrap/glyphicons-halflings-regular.eot);
    src: url(/build/admin/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(/build/admin/fonts/bootstrap/glyphicons-halflings-regular.woff) format('woff'), url(/build/admin/fonts/bootstrap/glyphicons-halflings-regular.ttf) format('truetype'), url(/build/admin/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}